<h1>Listing p_reports</h1>

<table width = "100%">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @p_reports.each do |report| %>
  <tr>
    <td width = '20%'><%=h report.name %></td>
    <td><%=h report.description %></td>
    <td><%= link_to 'HTML', p_report_path(report) %></td>
    <td><%= link_to 'CSV',  p_report_path(report, :format => :csv) %></td>
    <td><%= link_to 'XLS',  p_report_path(report, :format => :xls) %></td>
    <td><%= link_to 'Edit', edit_p_report_path(report) %></td>
    <td><%= link_to 'Destroy', p_report_path(report), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New p_report', new_p_report_path %>